.prechatgpt::before {
	background-color: darkgreen;
	color: white;
	content: "pre ChatGPT";
}

.prechatgpt::before {
	padding: 0.2em;
	font-variant: small-caps;
	font-family: sans-serif;
	margin-right: 0.5em; 
}