.prechatgpt::before {
	background-color: darkgreen;
	color: white;
	content: "PRE ChatGPT";
}

.postchatgpt::before {
	background-color: grey;
	color: white;
	content: "POST ChatGPT";
}

.postchatgpt::before, .prechatgpt::before {
	padding: 0.2em;
	font-variant: small-caps;
	font-family: sans-serif;
	margin-right: 0.5em; 
}